ion-content{
	--ion-background-color: #8e35bf;
}

ion-item{
    --ion-background-color: transparent !important;
}
.titre{
    text-align: center;
    color: white;
}
.centre{
  margin-top: 120px;
}
.btn{
  margin-top: 35px;
  --background: #462871;
}
