<ion-content>

<ion-item>
  <ion-label class="titre">INSCRIPTION</ion-label>
  
</ion-item>

<div class="padding">


  <ion-item class="te">
    Vends sans frais ce que tu n'utilise plus 
  </ion-item>
  
</div>
  <ion-item>
    <ion-label color="light" placeholder="adresse mail ">Email</ion-label>
    <ion-input color="light" type="email" placeholder="Entrez votre mail svp"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light" placeholder="adresse mail ">Mot de passe</ion-label>
    <ion-input color="light" type="password" placeholder="Mot de passe" ></ion-input>
  </ion-item>


  <ion-button color="tertiary" expand="block" shape="round">Inscription</ion-button>
  <ion-item lines="none">
    <ion-button color="light" slot="end" fill="clear">Déja un compte ?connectez-vous</ion-button>
  </ion-item>
</ion-content>
