ion-content{
	--ion-background-color: linear-gradient(#16222A,#3A6073);
}

ion-item{
    --ion-background-color: transparent !important;
}
.titre{
    text-align: center;
    color: white;
}

.paddding{
    padding: 5%;
    margin-top: 70px;
}
