<ion-content>

  <div class="container">

    <ion-card>
      <ion-card-header>
        <img class="img">
      </ion-card-header>
      <ion-card-title>
        Bienvenue sur Moldu
        <p>la premiere plateforme mobile ou vouspouvez vendre tout ce que vous n'utilisez plus   </p>
        <p class="end">etes vous prets ?</p>
      </ion-card-title>
      <ion-card-content>
        <ion-button [routerLink]="['/connexion']">Commencer</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
