<ion-header>
  <ion-toolbar>
    <ion-title>message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail [routerLink]="['/discussion']">
    <ion-avatar slot="start">
       <img src="../../assets/IMG-20211104-WA0067.jpg" >
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Urielle niece</h3>
        <ion-note slot="end">12:30</ion-note>
      </div>
      <p><ion-icon class="text-icon" color="primary" name="done-all"></ion-icon> coucou tonton comment tu vas?</p>
    </ion-label>
  </ion-item>
</ion-content>
