<ion-content>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title class="titre">CONNEXION</ion-title>
  </ion-toolbar>

<div class="centre">
  <ion-item>
    <ion-label color="light" placeholder="adresse mail " position="floating">Email</ion-label>
    <ion-input color="light" type="email" placeholder="Entrez votre mail s'il vous plait"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light" placeholder="adresse mail " position="floating">Mot de passe</ion-label>
    <ion-input color="light" type="password" placeholder="Entrez votre mot de passe" ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-button color="light" slot="end" fill="clear" routerLink="/recuperation">Mot de passe oublié ?</ion-button>
  </ion-item>
  <ion-button expand="block" shape="round" class="btn" routerLink="/home">SE CONNECTER</ion-button>
  <br>
  <ion-button color="light" expand="block" shape="round" fill="outline" routerLink="/inscription">S'INSCRIRE SUR MOLDU</ion-button>
</div>

</ion-content>
