ion-content{
    --ion-background-color: #8e35bf;

}

ion-item{
    --ion-background-color: transparent !important;
}
.centre{
  margin-top: 150px;
}
.titre{
  text-align: center;
  color: white;
}
.btn{
  margin-top: 35px;
  --background: #462871;
}
