<ion-content>
  <!-- <ion-header>
    <ion-item class="titre">
      <ion-label >CONNEXION</ion-label>
      
    </ion-item>
  </ion-header>
  -->
  
  
  <div class="padding">
      <div class="logo">
        <ion-icon color="light" name="person-circle-outline"></ion-icon>
      </div>





    <ion-item>
      <ion-label color="light" placeholder="adresse mail ">Email</ion-label>
      <ion-input color="light" type="email" placeholder="Entrez votre mail svp"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="light" placeholder="adresse mail ">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe" ></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item>
  
    <ion-button color="light" expand="block" shape="round" fill="outline">S'INSCRIRE SUR MOLDU</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round">SE CONNECTER</ion-button>
  </div>
    
  </ion-content>
 