<ion-content>
  <ion-item>
    <ion-label class="titre">NOUVEAU MOT DE PASSE</ion-label>
  </ion-item>
  <div class="centre">
    <ion-item>
      <ion-label   placeholder="adresse mail "position="floating">Nouveau mot de passe</ion-label>
      <ion-input  type="email" placeholder="Entrez votre nouveau mot de passe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label   placeholder="adresse mail "position="floating">Confirmation du mot de passe</ion-label>
      <ion-input  type="email" placeholder="Confirmez votre mot de passe"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" class="btn" routerLink="/connexion">VALIDEZ</ion-button>
  </div>


</ion-content>
