<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Urielle <br><div class="status"> En ligne</div></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/IMG-20211104-WA0067.jpg" >
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bg"></div>
<ion-item lines="none">
  <ion-badge color="warning" slot="end">Hey Urielle comment tu vas? <ion-note color="medium">10:24 <ion-icon name="done-all"></ion-icon></ion-note> </ion-badge>
</ion-item>
<ion-item lines="none">
  <ion-badge color="light" slot="start">Hey je vais bien grando et toi? <ion-note color="medium">10:24 <ion-icon name="done-all"></ion-icon></ion-note></ion-badge>
</ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" shape="round" size="mall">
        <ion-icon slot="icon-only"  name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <input type="text" placeholder="Votre message">
    <ion-buttons slot="end">
      <ion-button>
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
