.recherche{
  margin-top: 50px;
}
.texte{
  font-weight: bold;
}
p{
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
}
ion-button{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
ion-menu{
  --ion-background-color:  #462871;
}
